* {
    box-sizing: border-box;
}

.game-board {
    display: grid;
    grid-template-rows: repeat(3, 6rem);
    grid-template-columns: repeat(3, 6rem);
    margin: 8%;
}

.board-section {
    color: white;
    display: block;
    width: 6rem;
    height: 6rem;
    border: 1px solid green;
    cursor: pointer;
}

.board-section:hover {
    background: blue;
    color: blue;
}

.board-section.already-played,
.board-section.already-played:hover,
.board-section.already-played:active {
   background: black;
   color: red; 
   cursor: default;
   font-weight: bolder;
   text-align: center;
}