* {
    box-sizing: border-box;
}

h4 {
    display: none;
}

.backdrop {
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: fixed;
    left: 0;
    background: #000000cc;
    display: none;
    z-index: 5;
}

/* .backdrop.visible {
    display: block;
} */

.game-board {
    display: grid;
    grid-template-rows: repeat(3, 6rem);
    grid-template-columns: repeat(3, 6rem);
    margin: 8%;
}

.board-section {
    background: white;
    color: white;
    display: block;
    width: 6rem;
    height: 6rem;
    border: 1px solid green;
    cursor: pointer;
}

.board-section:hover {
    background: blue;
    color: blue;
}

.board-section.already-played,
.board-section.already-played:hover,
.board-section.already-played:active {
   background: black;
   color: red; 
   cursor: default;
   font-weight: bolder;
   text-align: center;
   line-height: 6rem;
}

.new-round {
    display: none;
    width: 8rem;
    height: 4rem;
    background: green;
    color: white;
    margin: auto 30%;
    border: none;
    position: fixed;
    z-index: 10;


}

.visible {
    display: block;
    cursor: pointer;
}

.visible:hover {
    background: #85a585;
    color: black;
}

.show-backdrop {
    background: 85a585;
    display: block;
}